<div class="container animated fadeIn">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Listado de Comprobantes</b></h2>
                </div>
            </div>
        </div>
        
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID Orden</th>
                    <th>ID Pago</th>
                    <th>Fecha de Pedido</th>						
               		<th>Total</th>
                
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>101</td>
                    <td>002</td>
                    <td>2020-01-01</td>                        
                    <td>$2500</td>
                   
                    
                </tr>
            </tbody>
        </table>
    </div>
    
           
</div>