<br>
<br>
<br>
<form (ngSubmit)="createOrder( ord )" #ord="ngForm">
    <div class="panel panel-default" >
     <div class="panel-heading">
        <div class="row ">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Id de la direccion" name="addressId" ngModel required #addressId="ngModel">
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Id del usuario" name="userId" ngModel required #userId="ngModel">
            </div>
        </div> 
        <br>
          <div class="row ">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Id del carrito de compras" name="cartId" ngModel required #cartId="ngModel">
          </div>
          <br>
          <br>
          <div class="row ">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Id del delivery" name="deliveryId" ngModel required #deliveryId="ngModel">
            </div>
            <br>
            <br>
            <div class="row ">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Fecha de Orden" name="date" ngModel required #date="ngModel">
            </div>
            <br>
            <div class="row ">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Status" name="status" ngModel required #status="ngModel">
            </div>
            <br>
            <br>
            <div class="row ">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="State" name="state" ngModel required #state="ngModel">
                </div>
            </div>
             <br>
           <div class="mt-5 text-right">
                <button class="btn btn-primary profile-button" type="submit">Realizar la Orden</button><br><br>
                <button class="btn btn-primary profile-button" type="button" [routerLink]="['**']">Cancelar</button>
           </div>
         
    </div>
    </div>
</form>